<div style="width: 100%; clear: both;">
<div style="float: left; width: 30%;">
<img src="https://www.utpl.edu.ec/sites/default/files/archivos/marca%20UTPL%202018-02.png", align="left" width="280" height="120">
</div>
</div>
<div style="float: right; width: 70%;">
<p style="margin: 0; padding-top: 32px; text-align:right; color:#003366; font-size:16px"><u>Análisis de datos y visualización</u></p>
<p style="margin: 0; text-align:right; color:#999999; font-size:17px">Maestría en Inteligencia Artificial Aplicada</p>
</div>
</div>
<div style="width: 100%; clear: both;">
<div style="width:100%;">&nbsp;</div>


# Predicción numérica mediante métodos de Machine learning

Source: https://github.com/jcarpenter12/Regression-Analysis-Using-Python/blob/master/notebook.ipynb

## Carga del dataset: Boston housing

El conjunto de datos contiene datos de precios de viviendas de Boston.

- Number of Instances: 506 

- Number of Attributes: 14 numeric (including y)

- Attribute Information (in order):
    - CRIM     per capita crime rate by town
    - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
    - INDUS    proportion of non-retail business acres per town
    - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
    - NOX      nitric oxides concentration (parts per 10 million)
    - RM       average number of rooms per dwelling
    - AGE      proportion of owner-occupied units built prior to 1940
    - DIS      weighted distances to five Boston employment centres
    - RAD      index of accessibility to radial highways
    - TAX      full-value property-tax rate per $10,000
      
    - PTRATIO  pupil-teacher ratio by town
    - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
    - LSTAT    % lower status of the population
    - MEDV     Median value of owner-occupied homes in $1000's -> variable a predecir.

:Missing Attribute Values: None

:Creator: Harrison, D. and Rubinfeld, D.L.

Se usará una copia del dataset housing, disponible en "UCI ML": http://archive.ics.uci.edu/ml/datasets/Housing

In [2]:
# Librerías a utilizar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

# Métodos de regresión no lineal:

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from sklearn import preprocessing # para el escalado

from sklearn.model_selection import GridSearchCV # para búsqueda de hiperparámetros

### Preparación de datasets (entrenamiento y test)
from sklearn.model_selection import train_test_split
import calendar

In [3]:
#Carga del dataset:

data_url = "transfusion.data.csv"
data = pd.read_csv(data_url, sep=',', header=0)
column_names=data.columns
x_columns = column_names[0:data.shape[1]-1]
y_column = column_names[data.shape[1]-1]

X = data[x_columns]   # variables predictoras
y = data[y_column]    # variable a predecir
data[:10]

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
5,4,4,1000,4,0
6,2,7,1750,14,1
7,1,12,3000,35,0
8,2,9,2250,22,1
9,5,46,11500,98,1

In [6]:
data.columns

Index(['Recency (months)', 'Frequency (times)', 'Monetary (c.c. blood)',
       'Time (months)', 'whether he/she donated blood in March 2007'],
      dtype='object')

In [7]:
data.sample(10)

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
406,16,1,250,16,0
480,23,1,250,23,0
521,2,11,2750,41,1
161,2,1,250,2,0
2,1,16,4000,35,1
74,2,2,500,4,1
320,15,16,4000,82,0
475,26,5,1250,49,1
619,4,1,250,4,0
668,11,1,250,11,0

In [8]:
data.iloc[:, 0:10]

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
...,...,...,...,...,...
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [9]:
len(data)

748

In [10]:
data.shape

(748, 5)

In [11]:
x_columns

Index(['Recency (months)', 'Frequency (times)', 'Monetary (c.c. blood)',
       'Time (months)'],
      dtype='object')

In [12]:
y_column

'whether he/she donated blood in March 2007'

In [131]:
def codificar_mes(mes):
    if mes=='June':
        mes='Jun'
    numero=list(calendar.month_abbr).index(mes)
    return numero
    
data['Month']=data['Month'].map(codificar_mes)
data

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,2,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,2,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,2,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,12,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,11,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,11,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,11,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,11,3,2,1,2,New_Visitor,True,False

In [132]:
data['Month'].value_counts()

Month
5     3364
11    2998
3     1907
12    1727
10     549
9      448
8      433
7      432
6      288
2      184
Name: count, dtype: int64

In [133]:
def codificar_visitor_type(visitor):
    if visitor=='Returning_Visitor':
        visitor=1
    if visitor=='New_Visitor':
        visitor=2
    if visitor=='Other':
        visitor=3
    return visitor
data['VisitorType']=data['VisitorType'].map(codificar_visitor_type)
data

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,1,1,1,1,1,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,2,2,2,1,2,1,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,4,1,9,3,1,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,2,3,2,2,4,1,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,2,3,3,1,4,1,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,12,4,6,1,1,1,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,11,3,2,1,8,1,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,11,3,2,1,13,1,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,11,2,2,3,11,1,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,11,3,2,1,2,2,True,False

In [134]:
data['VisitorType'].value_counts()

VisitorType
1    10551
2     1694
3       85
Name: count, dtype: int64

In [135]:
def codificar_en_binario(valor):
    if str(valor)=='False':
        valor=0
    else:
        valor=1
    return valor
data['Weekend']=data['Weekend'].map(codificar_en_binario)
data

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,1,1,1,1,1,0,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,2,2,2,1,2,1,0,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,4,1,9,3,1,0,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,2,3,2,2,4,1,0,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,2,3,3,1,4,1,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,12,4,6,1,1,1,1,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,11,3,2,1,8,1,1,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,11,3,2,1,13,1,1,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,11,2,2,3,11,1,0,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,11,3,2,1,2,2,1,False

In [136]:
data['Weekend'].value_counts()

Weekend
0    9462
1    2868
Name: count, dtype: int64

In [137]:
data['Revenue']=data['Revenue'].map(codificar_en_binario)
data

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,1,1,1,1,1,0,0
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,2,2,2,1,2,1,0,0
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,4,1,9,3,1,0,0
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,2,3,2,2,4,1,0,0
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,2,3,3,1,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,12,4,6,1,1,1,1,0
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,11,3,2,1,8,1,1,0
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,11,3,2,1,13,1,1,0
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,11,2,2,3,11,1,0,0
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,11,3,2,1,2,2,1,0

In [138]:
data['Revenue'].value_counts()

Revenue
0    10422
1     1908
Name: count, dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Recency (months)                            748 non-null    int64
 1   Frequency (times)                           748 non-null    int64
 2   Monetary (c.c. blood)                       748 non-null    int64
 3   Time (months)                               748 non-null    int64
 4   whether he/she donated blood in March 2007  748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [14]:
data.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [144]:
X = data[x_columns]   # variables predictoras
y = data[y_column]    # variable a predecir

In [15]:
X

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
0                   2                 50                  12500             98
1                   0                 13                   3250             28
2                   1                 16                   4000             35
3                   2                 20                   5000             45
4                   1                 24                   6000             77
..                ...                ...                    ...            ...
743                23                  2                    500             38
744                21                  2                    500             52
745                23                  3                    750             62
746                39                  1                    250             39
747                72                  1                    250             72

[748 rows x 4 columns]

In [16]:
print(y)

0      1
1      1
2      1
3      1
4      0
      ..
743    0
744    0
745    0
746    0
747    0
Name: whether he/she donated blood in March 2007, Length: 748, dtype: int64

### Creación de datasets para el training y testing

In [17]:

X_train, X_test,y_train, y_test = train_test_split(X, y,test_size=0.20,random_state=10, shuffle=True)

## 1. Decision Tree Learning

### 1.1 Parámetros clave de un árbol de decisión

- <b>max_depth</b> (None | int): es la profundidad máxima de un árbol.
    - Se utiliza para controlar el sobreajuste: a una mayor profundidad el modelo aprenderá relaciones muy específicas de del train dataset.
    - Si su su valor es <i>None</i>, los nodos se expanden hasta que todas las hojas sean puras o hasta que todas las hojas contengan menos de <i>min_samples_split</i> observaciones.
    - Requiere ajuste.


- <b>min_samples_split</b>: define el número mínimo de observaciones que se requieren en un nodo para ser considerado para la división.
    - Valores demasiado altos pueden provocar un ajuste insuficiente, es decir, impiden que un modelo aprenda relaciones que podrían ser muy específicas de una muestra particular.
    - Su valor se puede establecer en alrededor del 0,5-1% de las observaciones. 
    - Se utiliza para controlar el overfitting, por lo que este es un parámetro que generalmente requiere ajuste.

- <b>min_samples_leaf</b>: define las muestras (u observaciones) mínimas requeridas en un nodo terminal u hoja.
    - Se utiliza para controlar el sobreajuste similar a <i>min_samples_split</i>.
    - Para empezar, se puede establecer en alrededor del 1% de todas las observaciones en el conjunto de datos.
    - Un valor demasiado pequeño hace que el modelo sea más propenso a capturar ruido y, por lo tanto, a sobreajustarse.

- <b>max_features</b>: número máximo de características a considerar para buscar la mejor división.

    - En dataset de pocas características, podemos trabajar con el valor de 1.0, lo cual significa, considerar una variable para la búsqueda.
    - En conjuntos de datos grandes, como de 100 variables (m) se puede optar por tomar la raiz cuadrada de m (es decir, 10), o debemos verificar hasta el 30-40% del número total de características.
    - Los valores más altos pueden provocar un ajuste excesivo, pero depende de cada caso.
      
- <b>random_state</b>: La semilla de número aleatorio generada cada vez. Un número aleatorio fijo es importante ya que, de lo contrario, tendríamos resultados diferentes en cada ejecución posterior, especialmente importante en el proceso de ajuste.

- <b>max_leaf_nodes</b>: número máximo de nodos terminales u hojas en un árbol.
    - Se puede definir en lugar de max_depth.

### 1.2 Primer experimento: con todos los parámetros por defecto

In [18]:
#############
# Training
#############

dtr = DecisionTreeRegressor(random_state = 10) # Crear una instancia de DecisionTreeRegressor

dtr.fit(X_train, y_train) # crear el modelo a partir del dataset de entrenamiento

#############
# Predicción
predicted = dtr.predict(X_test) # generar predicción para el dataset de test
dtr_predictions = pd.DataFrame({'Actual':y_test,'Predicted':predicted}) # imprimir (y_real, y_predicted)
print(dtr_predictions[:5])
#############


#############
# Imprimir parámetros usados por el modelo
#############
print('Max features:', dtr.max_features_) # todas las variables fueron usadas para el split
print('Depth of the Decision Tree :', dtr.get_depth()) #  imprimir profundidad del árbol

     Actual  Predicted
302       0   0.166667
573       0   0.500000
223       0   0.225806
495       0   0.000000
504       1   0.000000
Max features: 4
Depth of the Decision Tree : 18

In [19]:
#############
# Importancia de las variables al momento de crear el modelo:
#############

importances_sk = dtr.feature_importances_ # obtener coeficientes de variables

print(importances_sk) # imprimir coeficientes de variables

# Crear un dataframe con las variables y su importancia:
feature_importance_sk = {}
for i, feature in enumerate(x_columns):
    feature_importance_sk[feature] = round(importances_sk[i], 3)

print(f"Feature importance by sklearn: {feature_importance_sk}")

[0.27366177 0.16218832 0.19388634 0.37026356]
Feature importance by sklearn: {'Recency (months)': 0.274, 'Frequency (times)': 0.162, 'Monetary (c.c. blood)': 0.194, 'Time (months)': 0.37}

In [20]:
################################
# Evaluación
################################

# Train dataset:
accuracy_train = dtr.score(X_train, y_train)
print('accuracy_score on train dataset : ', accuracy_train)

# Test dataset:
score = dtr.score(X_test,y_test)
mseFull = np.mean((y_test - predicted)**2)

print("Accuracy of model: %f" % score)
print("Mean Squared Error: %f" % mseFull)

accuracy_score on train dataset :  0.759000627164399
Accuracy of model: -0.352917
Mean Squared Error: 0.242022

In [21]:
################################
### Imprimir el modelo
################################
from sklearn import tree
text_representation = tree.export_text(dtr, feature_names=x_columns) # exportar el modelo en texto
#print(text_representation) # descomentar para visualizar

In [22]:
# import export_graphviz 
from sklearn.tree import export_graphviz  
  
# exportar el árbol a un archivo tree.dot 
export_graphviz(dtr, out_file ='tree.png', 
               feature_names = x_columns)

### 1.3 Segundo experimento: usando como la parámetro la profundidad máxima

In [23]:
dtr = DecisionTreeRegressor(random_state = 10,
                            max_depth=13) # 

dtr.fit(X_train, y_train)

predicted = dtr.predict(X_test)

################################
# Evaluación
################################

# Train dataset
accuracy_train = dtr.score(X_train, y_train)
print('accuracy_score on train dataset : ', accuracy_train)

# Test dataset
score = dtr.score(X_test,y_test)
mseFull = np.mean((y_test - predicted)**2)

print("Accuracy of model: %f" % score)
print("Mean Squared Error: %f" % mseFull)

accuracy_score on train dataset :  0.6943377143196678
Accuracy of model: -0.256497
Mean Squared Error: 0.224773

### 1.4 Tercer experimento: usando otros parámetros

In [24]:
dtr = DecisionTreeRegressor(random_state = 10,
                            max_depth=13, 
                            min_samples_split=4,
                           min_samples_leaf=4,
                           max_features=1.0)


dtr.fit(X_train, y_train)

predicted = dtr.predict(X_test)

print('Depth of the Decision Tree :', dtr.get_depth()) # depth of the decision tree


################################
# Evaluación
################################

# Train dataset

accuracy_train = dtr.score(X_train, y_train)
print('accuracy_score on train dataset : ', accuracy_train)

# Test dataset
score = dtr.score(X_test,y_test)
mseFull = np.mean((y_test - predicted)**2)

print("Accuracy of model: %f" % score)
print("Mean Squared Error: %f" % mseFull)

Depth of the Decision Tree : 13
accuracy_score on train dataset :  0.40003066605657556
Accuracy of model: 0.126653
Mean Squared Error: 0.156232

De lo anterior podemos ver que un árbol de decisión ha funcionado mejor que con los parámetros por defecto. 

Los árboles de decisión tienen varios hiperparámetros diferentes. Para intentar mejorar el modelo debemos hacer experimentos usando una  búsqueda en grids y validación cruzada.

### 1.5 Tuning mediante Grid Search & Cross Validation

- Grid Search se utiliza para ejecutar un modelo repetidamente cada vez con diferentes parámetros especificados por el usuario.

- Cross validation se utiliza para entrenar con subconjuntos de datos (chunks o folds), especificados por la opción "cv". El valor de cv principalmente depende del tamaño del conjunto de datos:
    - Si el tamaño es pequeño: un número razonable pueden ser 10 o más; un número como este puede ser beneficioso porque permite utilizar una mayor proporción de datos para entrenamiento en cada iteración.
    - Si el tamaño es grande: un número menor de folds como 5 suele ser suficiente y reduce el tiempo de computación.

In [25]:
dtr = DecisionTreeRegressor(random_state=10, 
                            max_features=1.0)

params = {'min_samples_split': range(2, 20, 2), #range(start, stop, step)
          'min_samples_leaf': range(2, 20, 2),
          'max_depth': range(5, 15)}
    
grid_search = GridSearchCV(dtr, param_grid=params, cv=10)
grid_search.fit(X_train, y_train) #training

# Obtener el mejor modelo
best_model = grid_search.best_estimator_

# Ver los mejores hiperparámetros encontrados
print("Mejores hiperparámetros: ", grid_search.best_params_)

Mejores hiperparámetros:  {'max_depth': 5, 'min_samples_leaf': 16, 'min_samples_split': 2}

In [26]:
# Generar predicciones en el conjunto de prueba
y_test_pred = best_model.predict(X_test)

# Evaluar el rendimiento del mejor modelo:
mse = mean_squared_error(y_test, y_test_pred)
print(f"Mean Squared Error en el conjunto de prueba: {mse}")

score = best_model.score(X_test, y_test) 
print("R^2 del mejor modelo: %f" % score)

Mean Squared Error en el conjunto de prueba: 0.14706202265616491
R^2 del mejor modelo: 0.177914

## Random Forest Model

Un bosque aleatorio, como su nombre indica, es una colección de árboles de decisión. 

Esto es particularmente útil ya que los árboles de decisión son propensos al sobreajuste (el sobreajuste. Un bosque aleatorio reduce esto en ejecutar cada árbol de decisión en un subconjunto diferente de datos y luego hace una predicción basada en la suma de las predicciones de todos los árboles del bosque.

#### Random Forest Parameters

Como un bosque aleatorio es una colección de árboles de decisión, los parámetros son en gran medida los mismos. He anotado los principales parámetros forestales específicos a continuación.

 - <b>n_estimators</b>: La cantidad de árboles a utilizar para construir el modelo predictivo antes de tomar el promedio de ellos. Generalmente, cuanto más alto, mejor, pero también consume más CPU.
   
 - <b>oob_score</b>: Esta es una validación cruzada integrada de los bosques aleatorios. Simplemente toma cada observación utilizada en diferentes árboles y encuentra la mejor puntuación.
   
 - <b>n_jobs</b>: En un entorno multiprocesador, si se establece en '-1' significa que no hay restricciones en los núcleos de la CPU que puede usar el modelo. Si se establece en '1', por ejemplo, solo puede usar 1.

In [27]:
rf = RandomForestRegressor(n_estimators= 100, random_state = 10, oob_score=True,
                           max_depth=7, min_samples_leaf=3, min_samples_split=7)


rf.fit(X_train, y_train)
predicted = rf.predict(X_test)
rf_predictions = pd.DataFrame({'Actual':y_test,'Predicted':predicted})
rf_score = rf.score(X_test,y_test)
print("predicted score against actual: %f" % rf_score)
rf_predictions.head()

predicted score against actual: 0.236001

     Actual  Predicted
302       0   0.153445
573       0   0.476371
223       0   0.248062
495       0   0.061425
504       1   0.439199

#### Búsqueda de hiperparámetros:

In [28]:
params ={'max_depth':range(9,13),
         'min_samples_leaf':range(1,3),
         'min_samples_split':range(2,10,2)
}
grid_search = GridSearchCV(rf,param_grid=params,cv=10)
grid_search.fit(X_train, y_train)


print('Best score: {}'.format(grid_search.best_score_))
print('Best parameters: {}'.format(grid_search.best_params_))

predicted = grid_search.predict(X_test)

grid_predictions = pd.DataFrame({'Actual':y_test,'Predicted':predicted})
score = grid_search.score(X_test,y_test)
print("predicted score against actual: %f" % score)
grid_predictions.head()

Best score: 0.07455179643888327
Best parameters: {'max_depth': 9, 'min_samples_leaf': 2, 'min_samples_split': 8}
predicted score against actual: 0.216805

     Actual  Predicted
302       0   0.176759
573       0   0.479850
223       0   0.240396
495       0   0.081230
504       1   0.416257

De lo anterior podemos ver que el bosque aleatorio supera al árbol de decisión en un grado considerable. Al utilizar la búsqueda de cuadrícula, es posible que deba jugar con algunos parámetros y cambiar el modelo original como mejor le parezca. La razón es que si ejecuta gridsearch con una cuadrícula de parámetros grande, más tiempo tardará en ejecutarse, por lo que generalmente encuentro beneficioso comenzar con un rango grande con pasos grandes y reducirlo después de cada ejecución a un rango más pequeño con pasos más pequeños. . No he demostrado esto arriba porque ocuparía mucho espacio.

## Support Vector Regressor

La Support Vector Regressor admite regresión lineal y no lineal. Su misión es encajar tantas observaciones tanto como sea posible entre líneas intentando no caer en los márgenes.

Lo que se pretende con el SVM en regresión es buscar el hiperplano que mejor se ajuste a los datos y permita una tolerancia a los errores. En otras palabras, es una regresión lineal con restricciones.

### Parámetros clave:

- kernel: es el parámetro SVR más importante. Los kernels son funciones que transforman los datos en un espacio de mayor dimensión para facilitar la separación no lineal. Puede ser SVR lineal, polinomial o gaussiano.
    - Si tenemos una relación no lineal, podemos seleccionar polinomial o gaussiano (RBF es un tipo gaussiano).
- épsilon: representa al concepto de infracción o penalización que se aplica para las observaciones que caen fuera de los límites.

In [29]:
svm = make_pipeline(StandardScaler(), SVR(kernel="rbf", C=100, gamma=0.1, epsilon=0.1))
svm.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svr', SVR(C=100, gamma=0.1))])

In [30]:
predicted = svm.predict(X_test)

svm_predictions = pd.DataFrame({'Actual':y_test,'Predicted':predicted})

svm_predictions[:5]

################################
#Model score 
################################

# Train dataset

accuracy_train = svm.score(X_train, y_train)
print('Score en conjunto de  train : ', accuracy_train)

# Test dataset
score = svm.score(X_test,y_test)
mseFull = np.mean((y_test - predicted)**2)

print("Score en conjunto de test: %f" % score)
print("Mean Squared Error: %f" % mseFull)

Score en conjunto de  train :  0.14539172608797413
Score en conjunto de test: 0.209759
Mean Squared Error: 0.141365